
<form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
    <textarea matInput class="form-control comment-form-textarea" formControlName="title" name="comment"></textarea>
    <button class="comment-form-button" type="submit" [disabled]="form.invalid">
      {{ submitLabel }}
    </button>
    <button
      *ngIf="hasCancelButton"
      type="button"
      class="comment-form-button comment-form-cancel-button"
      (click)="handleCancel.emit()"
    >
      Cancel
    </button>
  </form>
  